@import "../base/colores";
@media screen and (max-width:500px){
    #galeria{
        padding-bottom: 6vh;
        background-color: #091523;
        width: 100%;
        .galeria__titulo{
            padding: 2.5vh 0;
            text-align: center;
            font-family: 'Noto Sans SC', sans-serif;
            font-size:20px ;
            color: white;
        }
        .galeria__contenedor{
            display: flex;
            flex-flow: column nowrap;
            align-content: flex-start;
            width: 100%;
            .galeria__contenedor-fotos{
                width: 100%;
                margin: 0.8vh 0;
                .galeria__fotos{
                    width: 100%;
                    height: 60vh;
                }
            }
            
        }
    }
}
@media screen and (min-width:500px){
    #galeria{
        padding-bottom: 6vh;
        background-color: #091523;
        width: 100%;
        .galeria__titulo{
            padding: 2.5vh 0;
            text-align: center;
            font-family: 'Noto Sans SC', sans-serif;
            font-size:30px ;
            text-decoration: underline;
            color: white;
        }
        .galeria__contenedor{
            display: flex;
            flex-flow: row wrap;
            justify-content:center;
            width: 100%;
            .galeria__contenedor-fotos{
                width: 30%;
                margin: 0.8vh 1vh;
                .galeria__fotos{
                    width: 100%;
                    height: 60vh;
                }
            }
            
        }
    }
}