/* Background-color - Mobile */
$fondo-mobile: (
    fondo-mobile-header:rgb(255, 217, 92),
    fondo-mobile-navmenu:rgb(255, 231, 153),);
$color-mobile: (
    color-mobile-logotipo: rgb(255, 236, 174)
);